<template>
    <table v-if="timezones.length > 1">
        <thead>
            <tr>
                <th v-for="timezone in timezones">{{ timezone.nickName }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td v-for="timezone in timezones" :class="calcClassForTimeCell(actualTime, timezone, 0)">
                    {{ calcTimeForZoneWithOffset(actualTime, timezone, 0).format('H:mm') }}
                </td>
            </tr>
            <template v-for="i in 24" :key="i">
                <tr>
                    <td v-for="timezone in timezones" :class="calcClassForTimeCell(roundedTime, timezone, i, 0)">
                        {{ calcTimeForZoneWithOffset(roundedTime, timezone, i, 0).format('H:mm') }}
                    </td>
                </tr>
                <tr v-if="showHalfHours">
                    <td v-for="timezone in timezones" :class="calcClassForTimeCell(roundedTime, timezone, i, 30)">
                        {{ calcTimeForZoneWithOffset(roundedTime, timezone, i, 30).format('H:mm') }}
                    </td>
                </tr>
            </template>
        </tbody>
    
    </table>
</template>

<script>
import { ref, computed, watch } from 'vue';
import moment from 'moment-timezone';
import { stringifyExpression } from '@vue/compiler-core';

export default {
  props: {
    timezones: {
      type: Array,
      required: true
    },
    showHalfHours: {
      type: Boolean,
      required: false,
      default: true
    },
    startAtMidnight: { 
      type: Boolean,
      required: false,
      default: false
    },
    effectiveDate: {
        type: String,
        required: true
    }
  },
  setup(props) {
    const showHalfHours = computed(() => props.showHalfHours);

    const actualTime = computed(() => {
        const time = moment.tz(new Date(), props.timezones[0].timezoneName).format('H:mm');
        const dateTimeStr = `${props.effectiveDate} ${time}`;
        return moment.tz(dateTimeStr, 'YYYY-MM-DD H:mm', props.timezones[0].timezoneName);
    })

    const roundedTime = computed(() => {
        const theActualTime = actualTime.value;
        if(props.startAtMidnight) {
            return theActualTime.hour(-1).minute(0).second(0);
        } else {
            return theActualTime.minute(0).second(0);
        }
    });

    function calcTimeForZoneWithOffset(now, zone, hours, minutes) {
      return moment.tz(now, zone.timezoneName).add(hours, 'hours').add(minutes, 'minutes');
    };

    function calcClassForTimeCell(now, zone, hourOffset, minuteOffset) {
        const timeObj = calcTimeForZoneWithOffset(now, zone, hourOffset, minuteOffset);
        const timeStr = timeObj.format('H:mm');
        const timeMoment = moment.tz(timeStr, 'H:mm', zone.timezoneName);
        const boundaryStart = moment.tz(zone.boundaryStart, 'H:mm', zone.timezoneName);
        const start = moment.tz(zone.start, 'H:mm', zone.timezoneName);
        const end = moment.tz(zone.end, 'H:mm', zone.timezoneName);
        const boundaryEnd = moment.tz(zone.boundaryEnd, 'H:mm', zone.timezoneName);
        if (timeMoment.isBetween(start, end, null, '[)')) {
            return 'business-hours';
        } else if (timeMoment.isBetween(boundaryStart, boundaryEnd, null, '[)')) {
            return 'business-hours-boundary';
        } else {
            return 'non-business-hours';
        }
    };

    return {
        startAtMidnight: props.startAtMidnight,
        showHalfHours,
        actualTime,
        roundedTime,
        calcTimeForZoneWithOffset,
        calcClassForTimeCell
    }
  }
}
</script>