<template>
    <div class="tz-edit">
        <div class="tz-edit__header">
            <h2>Edit Timezone</h2>
            <button class="tz-edit__close" @click="closeModal">X</button>
        </div>
        <div class="tz-edit__body">
            <form @submit.prevent="save" @keyup.enter="save" @keyup.escape="closeModal">
                <label for="tz-name">Name</label>
                <input id="tz-name" ref="tzNameInput" type="text" v-model="tzNickname" autofocus @change="onNameChange">
                <label for="tz-boundry-business-start">Boundry Business Start</label>
                <input id="tz-boundry-business-start" type="time" v-model="tzBoundaryStart" @change="onBoundryBusinessStartChange">
                <label for="tz-business-start">Business Start</label>
                <input id="tz-business-start" type="time" v-model="tzStart" @change="onBusinessStartChange">
                <label for="tz-business-end">Business End</label>
                <input id="tz-business-end" type="time" v-model="tzEnd" @change="onBusinessEndChange">
                <label for="tz-boundry-business-end">Boundry Business End</label>
                <input id="tz-boundry-business-end" type="time" v-model="tzBoundaryEnd" @change="onBoundryBusinessEndChange">
            </form>
        </div>
        <div class="tz-edit__footer">
            <button class="tz-edit__save" @click="save">Save</button>
        </div>
    </div>
</template>

<script>
import { ref, nextTick } from 'vue'
import Timezone from '../Timezone'

export default {
    name: 'TzEdit',
    props: {
        timezone: {
            type: Object,
            required: true
        }
    },
    setup(props, context) {
        const tzName = ref(props.timezone.timezoneName)
        const tzNickname = ref(props.timezone.nickName)
        const tzBoundaryStart = ref(props.timezone.boundaryStart)
        const tzStart = ref(props.timezone.start)
        const tzEnd = ref(props.timezone.end)
        const tzBoundaryEnd = ref(props.timezone.boundaryEnd)

        function onNameChange() {
            context.emit('tz-name-change', tzNickname.value)
        }

        function onBoundryBusinessStartChange() {
            context.emit('tz-boundry-business-start-change', tzBoundaryStart.value)
        }

        function onBusinessStartChange() {
            context.emit('tz-business-start-change', tzStart.value)
        }

        function onBusinessEndChange() {
            context.emit('tz-business-end-change', tzEnd.value)
        }

        function onBoundryBusinessEndChange() {
            context.emit('tz-boundry-business-end-change', tzBoundaryEnd.value)
        }

        function save() {
            context.emit('tz-edit-save', new Timezone(tzName.value, tzNickname.value, tzBoundaryStart.value, tzStart.value, tzEnd.value, tzBoundaryEnd.value))
        }

        function closeModal() {
            context.emit('tz-edit-close')
        }

        return {
            tzName,
            tzNickname,
            tzBoundaryStart,
            tzStart,
            tzEnd,
            tzBoundaryEnd,
            onNameChange,
            onBoundryBusinessStartChange,
            onBusinessStartChange,
            onBusinessEndChange,
            onBoundryBusinessEndChange,
            save,
            closeModal
        }
    },
    mounted() {
        this.$refs.tzNameInput.focus()
    }
}
</script>

<style scoped>
.tz-edit {
    position: fixed;
    z-index: 9002;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tz-edit__header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.tz-edit__body {
    background-color: #fff;
    padding: 1rem;
    width: 100%;
}

.tz-edit__footer {
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.tz-edit__save {
    background-color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.tz-edit__close {
    background-color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type=time]{
    width: 10em;
}

form {
    display: flex;
    flex-direction: column;
}
</style>