<template>
    <ol id="tz-list">
        <li
            v-for="(tz, index) in timezones"
            :key="tz"
            draggable="true"
            @dragstart="onDragStart(index)"
            @dragover="onDragOver"
            @dragenter="onDragEnter"
            @dragleave="onDragLeave"
            @dragend="onDragEnd"
            @drop="onDrop(index)"
            tabindex="0"
        >
            <span class="tz-list__name">{{displayName(tz)}}</span>
            <button class="tz-list__edit" @click="onViewEdit(index)">📝</button>
            <button class="tz-list__delete" @click="onDelete(index)">🚮</button>
        </li>
    </ol>
</template>

<script>
import { ref } from 'vue';

export default {
    name: 'TzList',
    props: {
        timezones: {
            type: Array,
            required: true
        }
    },
    setup(props, context) {
        const dragging = ref(false);
        const dragOver = ref(false);
        const dragIndex = ref(null);

        function onDragStart(index) {
            dragIndex.value = index;
            dragging.value = true;
        }

        function onDragOver(event) {
            event.preventDefault();
            dragOver.value = true;
        }

        function onDragEnter() {
            dragOver.value = true;
        }

        function onDragLeave() {
            dragOver.value = false;
        }

        function onDragEnd() {
            dragging.value = false;
            dragOver.value = false;
            dragIndex.value = null;
        }

        function onDrop(index) {
            const newOrder = Array.from(props.timezones);
            newOrder.splice(dragIndex.value, 1);
            newOrder.splice(index, 0, props.timezones[dragIndex.value]);
            context.emit('tz-reordered', newOrder);
        }

        function onDelete(index) {
            context.emit('tz-deleted', index);
        }

        function onViewEdit(index)
        {
            context.emit('tz-edit-start', index)
        }

        function displayName(tz) {
            if(tz.timezoneName === tz.nickName) {
                return tz.timezoneName;
            } else {
                return `${tz.nickName} (${tz.timezoneName})`;
            }
        }

        return {
            dragging,
            dragOver,
            dragIndex,
            displayName,
            onDragStart,
            onDragOver,
            onDragEnter,
            onDragLeave,
            onDragEnd,
            onDrop,
            onDelete,
            onViewEdit
        };
    }
};
</script>

<style scoped>
</style>


