<template>
    <article aria-details="documentation">
        <div aria-details="instructions" id="instructions">
            <h2>Instructions</h2>
            <p>Enter a timezone or city name in the input field and hit enter or select a timezone from the list.</p>
            <p>Table will appear when two or more timezones are selected.</p>
            <p>Click an "🚮" button to remove a timezone from the list.</p>
            <p>Click an "📝" button edit the nickname or alter the working hours.</p>
            <p>Drag and drop selected timezones to reorder them.</p>
            <p>Use <a href="https://zonestamp.toolforge.org/">zonestamp</a> to share meeting time with friends in other timezones.</p>
        </div>
        <div aria-details="source and contributions" id="source">
            <h2>Source and Contributions</h2>
            <p>Source code available on <a href="https://gitlab.wikimedia.org/toolforge-repos/tztables">GitLab</a>.</p>
            <p>Licensed under <a href="https://gitlab.wikimedia.org/toolforge-repos/tztables/-/blob/main/LICENSE">MD GPL</a>.</p>
            <p>Made with 💌 by Stef Dunlap (SDunlap-WMF, Kindrowboat).</p>
        </div>
        <div aria-details="credits" id="credits">
            <h2>Credits</h2>
            <p>Framework provided by <a href="https://vuejs.org/">Vue.js</a>.</p>
            <p>Timezone data provided by <a href="https://momentjs.com/timezone/">moment-timezone</a>.</p>
        </div> 
    </article>
</template>

<script>
export default {
    name: 'TzReadme'
}
</script>