<template>
    <div class="tz-selector">
        <form>
            <label for="tz-selector">Timezone</label>
            <input id="tz-selector" type="text" list="tz-list" placeholder="Enter the major city in the timezone"
                v-model="tzInput" @input="onInput" @keydown.enter="onEnter" @change="onEnter">
            <datalist id="tz-list">
                <option v-for="tz in timezones" :key="tz" :value="tz"/>
            </datalist>
        </form>
    </div>
</template>

<script>
import { ref } from 'vue'
import moment from 'moment-timezone'

export default {
    name: 'TzSelector',
    setup(_props, context) {
        const tzInput = ref('')
        const timezones = moment.tz.names()

        function onInput() {
            // return early if string doesn't end with a comma or space
            if (!tzInput.value.match(/[, ]$/)) {
                return;
            }
            //trim the trailing comma and space
            tzInput.value = tzInput.value.slice(0, -1);
            const selectedTimezone = tzInput.value;

            if (timezones.includes(selectedTimezone)) {
                context.emit('tz-selected', selectedTimezone);
                tzInput.value = ''
            }
        }

        function onEnter() {
            if (timezones.includes(tzInput.value)) {
                context.emit('tz-selected', tzInput.value)
                tzInput.value = ''
            }
        }

        return {
            tzInput,
            timezones,
            onInput,
            onEnter
        }
    }
}
</script>

<style scoped>
form {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-height: 2em;
    align-items: center;
}
form input#tz-selector {
    margin-left: 0.5em;
    height: 2em;
    flex: 1;
}
form input#start-at-midnight {
    height: 2em;
    width: 2em;
}
</style>