<template>
    <div class="tz-tables">
        <header>
            <h1>TzTables</h1>
            <p><em>compare working hours across timezones</em></p>
            <input type="button" value="Reload autosave" @click="reload"/>
        </header>
        <div v-if="editingIndex >= 0" class="tz-edit">
            <TzEdit :timezone="timezones[editingIndex]" @tz-edit-close="onTzEditClose" @tz-edit-save="onTzEditSave"/>
        </div>
        <TzSelector @tz-selected="onTzSelected"/>
        <TzList :timezones="timezones" @tz-reordered="onTzReordered" @tz-deleted="onTzDeleted" @tz-edit-start="onTzEditStart"/>
        <div id="table-controls">
            <input type="checkbox" id="start-at-midnight" v-model="startAtMidnight">
            <label for="start-at-midnight">Start at midnight</label>
            <input type="checkbox" id="show-half-hours" v-model="showHalfHours">
            <label for="show-half-hours">Show half hours</label>
            <label for="effective-date">Effective date:</label>
            <input type="date" id="effective-date" v-model="effectiveDate">
        </div>
        <TimeTable :timezones="timezones" :start-at-midnight="startAtMidnight" :show-half-hours="showHalfHours" :effective-date="effectiveDate"/>
        <TzReadme/>
    </div>
</template>

<script>
// use a ref to keep track of the timezones
import { ref } from 'vue'
import TzSelector from './TzSelector.vue'
import TzList from './TzList.vue'
import TimeTable from './TimeTable.vue'
import TzEdit from './TzEdit.vue'
import TzReadme from './TzReadme.vue'
import Timezone from '../Timezone.js'
import moment from 'moment';

export default {
    name: 'TzTables',
    components: {
        TzSelector,
        TzList,
        TimeTable,
        TzEdit,
        TzReadme,
    },
    setup() {
        const timezones = ref([Timezone.defaultFor('UTC')])
        const editingIndex = ref(-1);
        const startAtMidnight = ref(false);
        const showHalfHours = ref(true);
        const effectiveDate = ref(moment(new Date()).format('YYYY-MM-DD'));

        // parse the tzs passed in from the hash parameters using the URLSearchParams API
        // tzs are in the format: tzs=zoneName,nickName,boundaryStart,start,end,boundaryEnd;zoneName,nickName,boundaryStart,start,end,boundaryEnd
        const hash = window.location.hash.slice(1)
        const params = new URLSearchParams(hash)
        const tzsList = params.get('tzs')
        if (tzsList) {
            const tzsArr = tzsList.split(';')
            // map tzsArr into an array of Timezones
            timezones.value = tzsArr.map(tzStr => {
                const tzArr = tzStr.split(',')
                return new Timezone(...tzArr)
            }) 
        }
        
        function onTzSelected(tz) {
            timezones.value.push(Timezone.defaultFor(tz))
            updateHashParams()
        }

        function onTzReordered(newOrder) {
            timezones.value = newOrder
            updateHashParams()
        }

        function onTzDeleted(tzIndex) {
            timezones.value.splice(tzIndex, 1)
            updateHashParams()
        }

        function updateHashParams() {
            const csv = timezones.value.map(tz => tz.toCSV()).join(';')
            window.location.hash = `#tzs=${csv}`
            window.localStorage.setItem('tzs', csv)
        }

        function onTzEditStart(tzId) {
            editingIndex.value = tzId;
        }

        function onTzEditSave(tz) {
            timezones.value.splice(editingIndex.value, 1, tz)
            editingIndex.value = -1;
            updateHashParams()
        }

        function reload() {
            const savedTzs = window.localStorage.getItem('tzs')
            if (savedTzs) {
                window.location.hash = `#tzs=${savedTzs}`
            }
            window.location.reload()
        }

        function onTzEditClose() {
            editingIndex.value = -1;
        }


        return {
            timezones,
            editingIndex,
            startAtMidnight,
            showHalfHours,
            effectiveDate,
            onTzSelected,
            onTzReordered,
            onTzDeleted,
            onTzEditStart,
            onTzEditClose,
            onTzEditSave,
            reload,
        }
    }
}
</script>

<style scoped>
#table-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}

#table-controls label {
    margin: 0 0.5em;
}

#table-controls input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

header input[type="button"] {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}
</style>