@import './base.css';

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    color: #333;
}

header {
  margin: 1em;
}


table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: smaller;
}

tbody tr:nth-child(odd) td.non-business-hours {
    background-color: #fff;
}
tbody tr:nth-child(even) td.non-business-hours {
    background-color: #eee;
}
tbody tr:nth-child(odd) td.business-hours {
    background-color: #cfc;
}
tbody tr:nth-child(even) td.business-hours {
    background-color: #beb;
}
tbody tr:nth-child(odd) td.business-hours-boundary {
    background-color: #ffc;
}
tbody tr:nth-child(even) td.business-hours-boundary {
    background-color: #eeb;
}

th {
    position: sticky;
    z-index: 9001;
    top: 0;
    background-color: #ccc;
}

tbody tr:nth-child(1) {
    border: 2px solid #000;
}

button.remove {
    font-size: 10px;
}

ol#tz-list {
    background-color: #fff;
    margin: 1em;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 65px;
}

ol#tz-list li {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.25em;
    padding: 0.2em 0.5em;
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 25px;
    height: 1.75em;
    cursor: grab;
}

article {
    margin: 1em;
}